body {
    font-family: "Nanum Gothic Coding", monospace;
    background: black;
    color: #00ff00;
}

#notification {
    margin-top: 1em;
    width: 100%;
    background: black;
    color: grey;
    font-family: monospace;
    padding: 2px
}

#notification .success {
    color: darkseagreen;
}

#notification .error {
    color: indianred;
}

.desc {
    font-style: italic;
    padding-left: 1em;
}

table {
    border-collapse: collapse;
}

table, th, td {
    border-top: 1px solid #222222;
    border-bottom: 1px solid #222222;
}

td {
    padding: 0.5em;
}

td.name {
    text-align: right;
    font-weight: bold;
}

td.control input {
    width: 100%;
}

td.control input[type="text"] {
    padding: 5px;
    font-family: "Nanum Gothic Coding", monospace;
    background-color: black;
    color: #00ff00;
    border: solid 1px #00ff00;
    border-radius: 5px;
}

td.control input[type="button"] {
    font-size: 1em;
    color: black;
    background-color: #00ff00;
    border: solid 1px #00ff00;
    border-radius: 5px;
}

td.control input[type="button"]:disabled {
    background-color: #004400;
    color: black;
    border: solid 1px #004400;
    cursor: not-allowed;
}

td.control input[type="button"]:active {
    background-color: #004400;
    color: #00ff00;
    border: solid 1px #00ff00;
    border-radius: 5px;
}
